<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos/headerAdmin::headerAdmin}"></head>
<body>
  <nav id="colorNav" class="navbar navbar-expand-sm text-light" th:fragment="navAdmin">
    <div class="container-fluid">
      <a class="navbar-brand" href="javascript:void(0)"><img src="../../static/img/logo-rb.png" width="200px" alt="escudo del betis"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
</body>
</html>