<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/headerAdmin::headerAdmin}"></head>
<body>
    <nav th:replace="~{fragmentos/nav::nav}" id="colorNav" class="navbar navbar-expand-sm text-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)"><img src="../static/img/logo-rb.png" thim width="200px" alt="escudo del betis"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>


	
    

        
	<div class="container mt-3">
		<h2>Lista de productos</h2>      
		<table class="table table-striped">
		  <thead>
			<tr>
			  <th>Número</th>
			  <th>Nombre</th>
			  <th>Descripción</th>
			  <th>Precio</th>
			</tr>
		  </thead>
		  <tbody>
			<tr th:each="producto : ${listaProductos}">
				<td th:text="${productoStat.count}"></td>
				<td th:text="${producto.nombre}"></td>
				<td th:text="${producto.descripcion}">Red chair</td>
				<td th:text="${#numbers.formatDecimal(producto.precio, 1, 2)+' €'}">$350</td>
				
			</tr>
			
		  </tbody>
		</table>
	  </div>


</body>
</html>