<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="~{fragmentos/header::header}"> 
   
</head>
<body>
	
    <nav id="colorNav" class="navbar navbar-expand-sm">
        <div class="container-fluid">
          <a id="colorNav" class="navbar-brand"><img src="../img/logo-rb.png" width="200px" alt="logo del betis"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link border text-light" href="javascript:void(0)">Balones</a>
              </li>
              <li class="nav-item">
                <a class="nav-link border text-light" href="javascript:void(0)">Equipaciónes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link border text-light" href="javascript:void(0)">Accesorios</a>
              </li>
            </ul>
            <div class="collapse navbar-collapse justify-content-end">
                <i class="bi bi-search nav-item m-2 p-1 text-light border"></i>
                <i class="bi bi-cart nav-item m-2 p-1 text-light border"></i>
                <i class="bi bi-person nav-item m-2 p-1 text-light border"></i>
            </div>
          </div>
        </div>
      </nav>

  
        <main id="colorMainPortada" class="row justify-content-center">
			
         
          <div class="card col-4 m-5" th:each="producto : ${listaProductos}" style="width:450px">
            <img class="card-img-top" th:src="${producto.imagen}" alt="Card image">
            <div class="card-body">
              <h4 th:text="${producto.nombre}" class="card-title"></h4>
              <p  th:text="${producto.precio + '€'}"class="card-text"></p>
              <a href="#" class="btn btn-primary">Ir al producto</a>
            </div>
          </div>
      
      </main>




      <footer th:replace="fragmentos/footer::footer" id="colorFooter" class="container-fluid text-center text-light">
      
    
    
    </footer>


</body>
</html>